<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node Text SMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  </head>
  <body>
<div class="container">
  <h2>Envía un SMS</h2>
  <input type="tel" name="number" id="number" placeholder="Ingresa el número...">
  <input type="text" name="msg" id="msg" placeholder="Ingresa el mensaje..">
  <input type="button" name="" id="button" value="Enviar Texto" class="button button-primary">
  <p class="response"></p>
</div>

<script type="text/javascript" src="/socket.io/socket.io.js">

</script>
<script type="text/javascript" src="js/main.js">

</script>
    </body>
</html>
